<footer class="main-footer">
		<div class="copy">&copy; 2008-2020 Konspire Design</div>
		<nav>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="javascript:void(0)" class="show-contact-bubble hidden-xs hidden-sm">Contact</a></li>
				<li><a href="mailto:vm@konspiredesign.com?Subject=Inquiry%20about%20web%20design" class="hidden-lg">Contact</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</footer>

</div> <!-- /wrapper -->

	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

	<!-- <script type="text/javascript" src="http://www.google.com/jsapi"></script> -->
	<script type="text/javascript">
	// google.load("jquery", "1");
	</script>

	<script type="text/javascript" src="/assets/js/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.hoverIntent.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.backgroundPosition.js"></script>
	<script src="/assets/js/konspire.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/jquery.cross-slide.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/shortcut.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/jquery.scrollpane.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/jquery.mousewheel.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/jquery.tooltipster.min.js" type="text/javascript" charset="utf-8"></script>
  
	<script>
  
		$(function() {
      
			$('.tooltip').tooltipster({
				'maxWidth': '300'
			});
			// $('#portfolio-reel ul').jScrollPane({scrollbarWidth: 14, wheelSpeed: 12});
      
		})
	</script>