<header class="main-header">
  <a href="content" class="access">Skip to content</a>
  <section class="header-wrapper">
    <h1>
      <a href="/"><img src="/assets/img/kd-logo.png" width="460" height="186" alt="Konspire Design"></a>
      <div class="nav-toggle-wrapper hidden-lg">
        <a id="nav-toggle" href="javascript:void(0)"><span></span></a>          
      </div>
    </h1>
    <nav class="main-nav hidden-sm hidden-xs">
      <ul>
        <li><a id="nav-home" href="/">Home</a></li>
        <li><a id="nav-about" href="/about">About</a></li>
        <li><a id="nav-portfolio" href="/portfolio">Portfolio</a></li>
        <li><a id="nav-contact" href="/contact">Contact</a></li>
        <div id="nav-helper" class="hidden-xs hidden-sm"></div>
      </ul>
    </nav>
    <div id="bg-helper">&nbsp;</div>
		
  </section> <!-- /header-wrapper -->

</header>
<nav class="mobile-nav hidden-lg">
  <ul>
    <li><a id="nav-home" href="/index">Home</a></li>
    <li><a id="nav-about" href="/about">About</a></li>
    <li><a id="nav-portfolio" href="/portfolio">Portfolio</a></li>
    <li><a id="nav-contact" href="mailto:vm@konspiredesign.com?Subject=Inquiry%20about%20web%20design">Contact</a></li>
  </ul>
</nav>
<div class="mobile-nav-overlay"></div>
<div class="wrapper">
  {{>_contact-bubble}}
</div>