<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>{{global.site_title}} &ndash; {{page_settings.title}}</title>
  <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" media="screen" /> 
  <link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/assets/css/tooltipster.css" type="text/css" media="screen" />

  <link rel='stylesheet' media='screen and (min-width: 701px) and (max-width: 900px)' href='/assets/css/medium.css' />
  <link rel='stylesheet' media='screen and (min-width: 480px) and (max-width: 700px)' href='/assets/css/small.css' />
  <link rel='stylesheet' media='screen and (max-width: 479px)' href='/assets/css/narrow.css' />

  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

</head>